<a href="https://colab.research.google.com/github/khiljaekang/colab/blob/main/%EC%98%A4%EB%8A%98_%EB%B0%A4_%EC%9C%A0%EB%9F%BD_%EC%B6%95%EA%B5%AC%2C_%EC%96%B4%EB%94%94%EA%B0%80_%EC%9D%B4%EA%B8%B8%EA%B9%8C__%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A1%9C_%EB%B6%84%EC%84%9D%ED%95%98%EA%B3%A0_%EB%82%B4%EA%B8%B0%EB%A5%BC_%EC%9D%B4%EA%B2%A8%EB%B3%B4%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주제 : 오늘 밤 유럽 축구, 어디가 이길까? 데이터로 분석하고 내기를 이겨보자!
----------

## 실습 가이드
    1. 데이터를 다운로드하여 Colab에 불러옵니다.
    2. 필요한 라이브러리는 모두 코드로 작성되어 있습니다.
    3. 코드는 위에서부터 아래로 순서대로 실행합니다.
    
    
## 데이터 소개
    - 이번 주제는 European Soccer Database 데이터셋을 사용합니다.
    
    - 다음 1개의 sqlite 데이터베이스를 사용합니다.
    database.sqlite

    - 데이터 베이스 내 총 7개의 Table을 사용합니다.
    Country: 국가 정보
    League: 리그 정보
    Match: 경기 정보 (주 데이터셋)
    Player: 플레이어 정보
    Player_Attributes: 플레이어의 특성
    Team: 팀 정보
    Team_Attributes: 팀의 특성
    
- 데이터 출처: https://www.kaggle.com/hugomathien/soccer

## 최종 목표
    - SQL 데이터셋에서 테이블을 읽어들이는 방법 이해
    - 여러개의 테이블을 통합하는 방법 이해
    - 수 많은 데이터로부터 관심있는 데이터를 식별
    - 학습된 모델로부터 인사이트 습득 방법 이해

- 출제자 : 신제용 강사
---

## Step 0. 데이터베이스와 SQL

### 데이터베이스란

### SQL과 Query

## Step 1. 데이터셋 준비하기

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 문제 1. Colab Notebook에 Kaggle API 세팅하기

In [ ]:
import os

In [ ]:
# os.environ을 이용하여 Kaggle API Username, Key 세팅하기
os.environ['KAGGLE_USERNAME'] = 'kangkhiljae'
os.environ['KAGGLE_KEY'] = '301d6a8d672616568602772a114bd831'

### 문제 2. 데이터 다운로드 및 압축 해제하기

In [ ]:
# Linux 명령어로 Kaggle API를 이용하여 데이터셋 다운로드하기 (!kaggle ~)
# Linux 명령어로 압축 해제하기
!kaggle datasets download -d hugomathien/soccer
!unzip '*.zip'

soccer.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  soccer.zip
replace database.sqlite? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: database.sqlite

### 문제 3. sqlite3와 Pandas로 sqlite 데이터베이스 읽어들이기

In [ ]:
import sqlite3

In [ ]:
# sqlite3.connect()와 pd.read_sql_query()로 csv파일 읽어들이기
conn = sqlite3.connect('database.sqlite')
df_country = pd.read_sql_query('SELECT * from Country', conn) # Country 라는 테이블 안에 모든 컬럼을 다 가지고 와라
df_league = pd.read_sql_query('SELECT * from League', conn)
df_match = pd.read_sql_query('SELECT * from Match', conn)
df_player = pd.read_sql_query('SELECT * from Player', conn)
df_player_att = pd.read_sql_query('SELECT * from Player_Attributes', conn)
df_team = pd.read_sql_query('SELECT * from Team', conn)
df_team_att = pd.read_sql_query('SELECT * from Team_Attributes ', conn)

In [ ]:
df_team_att

        id  team_fifa_api_id  ...  defenceTeamWidthClass defenceDefenderLineClass
0        1               434  ...                 Normal                    Cover
1        2               434  ...                 Normal                    Cover
2        3               434  ...                 Normal                    Cover
3        4                77  ...                   Wide                    Cover
4        5                77  ...                 Normal                    Cover
...    ...               ...  ...                    ...                      ...
1453  1454             15005  ...                 Normal                    Cover
1454  1455             15005  ...                 Normal                    Cover
1455  1456             15005  ...                 Normal                    Cover
1456  1457             15005  ...                 Normal                    Cover
1457  1458             15005  ...                 Normal                    Cover

[1458 rows x 25 columns]

## Step 2. EDA 및 데이터 기초 통계 분석

### 문제 4. 각 데이터프레임의 구조 파악하기

In [ ]:
# DataFrame에서 제공하는 메소드를 이용하여 각 데이터프레임의 구조 분석하기 (head(), info(), describe())
df_country.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

In [ ]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      11 non-null     int64
 1   name    11 non-null     object
dtypes: int64(1), object(1)
memory usage: 304.0+ bytes

In [ ]:
df_league.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [ ]:
df_league.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          11 non-null     int64
 1   country_id  11 non-null     int64
 2   name        11 non-null     object
dtypes: int64(2), object(1)
memory usage: 392.0+ bytes

In [ ]:
df_league['country_id'].unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])

In [ ]:
df_league['id'].unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])

In [ ]:
df_match.head()

   id  country_id  league_id     season  stage  ...   GBD   GBA   BSH   BSD   BSA
0   1           1          1  2008/2009      1  ...  3.25  4.00  1.73  3.40  4.20
1   2           1          1  2008/2009      1  ...  3.25  3.75  1.91  3.25  3.60
2   3           1          1  2008/2009      1  ...  3.20  2.50  2.30  3.20  2.75
3   4           1          1  2008/2009      1  ...  3.75  5.50  1.44  3.75  6.50
4   5           1          1  2008/2009      1  ...  3.50  1.65  4.75  3.30  1.67

[5 rows x 115 columns]

In [ ]:
df_match.loc[df_match['league_id'] == 1729 ] # .loc를 사용하여 행과열을 불러옴

        id  country_id  league_id     season  ...   GBA   BSH   BSD    BSA
1728  1729        1729       1729  2008/2009  ...  10.0  1.29  4.50  11.00
1729  1730        1729       1729  2008/2009  ...  13.0  1.22  5.00  13.00
1730  1731        1729       1729  2008/2009  ...   1.7  4.50  3.40   1.73
1731  1732        1729       1729  2008/2009  ...   4.0  1.91  3.25   3.80
1732  1733        1729       1729  2008/2009  ...   4.0  1.91  3.30   3.75
...    ...         ...        ...        ...  ...   ...   ...   ...    ...
4763  4764        1729       1729  2015/2016  ...   NaN   NaN   NaN    NaN
4764  4765        1729       1729  2015/2016  ...   NaN   NaN   NaN    NaN
4765  4766        1729       1729  2015/2016  ...   NaN   NaN   NaN    NaN
4766  4767        1729       1729  2015/2016  ...   NaN   NaN   NaN    NaN
4767  4768        1729       1729  2015/2016  ...   NaN   NaN   NaN    NaN

[3040 rows x 115 columns]

In [ ]:
df_match['season'].unique()

array(['2008/2009', '2009/2010', '2010/2011', '2011/2012', '2012/2013',
       '2013/2014', '2014/2015', '2015/2016'], dtype=object)

In [ ]:
df_match['stage'].unique()

array([ 1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,  2, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29,  3, 30, 31, 32, 33, 34,  4,  5,  6,  7,  8,  9,
       35, 36, 37, 38])

In [ ]:
for c in df_match.columns :
  print(c)

id
country_id
league_id
season
stage
date
match_api_id
home_team_api_id
away_team_api_id
home_team_goal
away_team_goal
home_player_X1
home_player_X2
home_player_X3
home_player_X4
home_player_X5
home_player_X6
home_player_X7
home_player_X8
home_player_X9
home_player_X10
home_player_X11
away_player_X1
away_player_X2
away_player_X3
away_player_X4
away_player_X5
away_player_X6
away_player_X7
away_player_X8
away_player_X9
away_player_X10
away_player_X11
home_player_Y1
home_player_Y2
home_player_Y3
home_player_Y4
home_player_Y5
home_player_Y6
home_player_Y7
home_player_Y8
home_player_Y9
home_player_Y10
home_player_Y11
away_player_Y1
away_player_Y2
away_player_Y3
away_player_Y4
away_player_Y5
away_player_Y6
away_player_Y7
away_player_Y8
away_player_Y9
away_player_Y10
away_player_Y11
home_player_1
home_player_2
home_player_3
home_player_4
home_player_5
home_player_6
home_player_7
home_player_8
home_player_9
home_player_10
home_player_11
away_player_1
away_player_2
away_player_3
away_player_4
away_player_5
away_player_6
away_player_7
away_player_8
away_player_9
away_player_10
away_player_11
goal
shoton
shotoff
foulcommit
card
cross
corner
possession
B365H
B365D
B365A
BWH
BWD
BWA
IWH
IWD
IWA
LBH
LBD
LBA
PSH
PSD
PSA
WHH
WHD
WHA
SJH
SJD
SJA
VCH
VCD
VCA
GBH
GBD
GBA
BSH
BSD
BSA

In [ ]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Columns: 115 entries, id to BSA
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB

In [ ]:
for c, num in zip(df_match.columns, df_match.isna().sum()):
  print(c,num)

id 0
country_id 0
league_id 0
season 0
stage 0
date 0
match_api_id 0
home_team_api_id 0
away_team_api_id 0
home_team_goal 0
away_team_goal 0
home_player_X1 1821
home_player_X2 1821
home_player_X3 1832
home_player_X4 1832
home_player_X5 1832
home_player_X6 1832
home_player_X7 1832
home_player_X8 1832
home_player_X9 1832
home_player_X10 1832
home_player_X11 1832
away_player_X1 1832
away_player_X2 1832
away_player_X3 1832
away_player_X4 1832
away_player_X5 1832
away_player_X6 1832
away_player_X7 1832
away_player_X8 1832
away_player_X9 1833
away_player_X10 1833
away_player_X11 1839
home_player_Y1 1821
home_player_Y2 1821
home_player_Y3 1832
home_player_Y4 1832
home_player_Y5 1832
home_player_Y6 1832
home_player_Y7 1832
home_player_Y8 1832
home_player_Y9 1832
home_player_Y10 1832
home_player_Y11 1832
away_player_Y1 1832
away_player_Y2 1832
away_player_Y3 1832
away_player_Y4 1832
away_player_Y5 1832
away_player_Y6 1832
away_player_Y7 1832
away_player_Y8 1832
away_player_Y9 1833
away_player_Y10 1833
away_player_Y11 1839
home_player_1 1224
home_player_2 1315
home_player_3 1281
home_player_4 1323
home_player_5 1316
home_player_6 1325
home_player_7 1227
home_player_8 1309
home_player_9 1273
home_player_10 1436
home_player_11 1555
away_player_1 1234
away_player_2 1278
away_player_3 1293
away_player_4 1321
away_player_5 1335
away_player_6 1313
away_player_7 1235
away_player_8 1341
away_player_9 1328
away_player_10 1441
away_player_11 1554
goal 11762
shoton 11762
shotoff 11762
foulcommit 11762
card 11762
cross 11762
corner 11762
possession 11762
B365H 3387
B365D 3387
B365A 3387
BWH 3404
BWD 3404
BWA 3404
IWH 3459
IWD 3459
IWA 3459
LBH 3423
LBD 3423
LBA 3423
PSH 14811
PSD 14811
PSA 14811
WHH 3408
WHD 3408
WHA 3408
SJH 8882
SJD 8882
SJA 8882
VCH 3411
VCD 3411
VCA 3411
GBH 11817
GBD 11817
GBA 11817
BSH 11818
BSD 11818
BSA 11818

In [ ]:
df_match

          id  country_id  ...  home_player_Y5 home_player_Y6
0          1           1  ...             NaN            NaN
1          2           1  ...             NaN            NaN
2          3           1  ...             NaN            NaN
3          4           1  ...             NaN            NaN
4          5           1  ...             NaN            NaN
...      ...         ...  ...             ...            ...
25974  25975       24558  ...             3.0            6.0
25975  25976       24558  ...             7.0            7.0
25976  25977       24558  ...             3.0            6.0
25977  25978       24558  ...             3.0            7.0
25978  25979       24558  ...             3.0            7.0

[25979 rows x 39 columns]

In [ ]:
df_match.columns[-36:]

Index(['shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession',
       'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA',
       'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD',
       'BSA'],
      dtype='object')

In [ ]:
df_match.drop(df_match.columns[-36:], axis=1, inplace=True)

In [ ]:
df_match.head()

   id  country_id  league_id  ... away_player_9  away_player_10 away_player_11
0   1           1          1  ...           NaN             NaN            NaN
1   2           1          1  ...           NaN             NaN            NaN
2   3           1          1  ...           NaN             NaN            NaN
3   4           1          1  ...           NaN             NaN            NaN
4   5           1          1  ...           NaN             NaN            NaN

[5 rows x 76 columns]

In [ ]:
df_player.head()

   id  player_api_id         player_name  ...             birthday  height  weight
0   1         505942  Aaron Appindangoye  ...  1992-02-29 00:00:00  182.88     187
1   2         155782     Aaron Cresswell  ...  1989-12-15 00:00:00  170.18     146
2   3         162549         Aaron Doran  ...  1991-05-13 00:00:00  170.18     163
3   4          30572       Aaron Galindo  ...  1982-05-08 00:00:00  182.88     198
4   5          23780        Aaron Hughes  ...  1979-11-08 00:00:00  182.88     154

[5 rows x 7 columns]

In [ ]:
df_player_att.head()

   id  player_fifa_api_id  ...  gk_positioning gk_reflexes
0   1              218353  ...             8.0         8.0
1   2              218353  ...             8.0         8.0
2   3              218353  ...             8.0         8.0
3   4              218353  ...             7.0         7.0
4   5              218353  ...             7.0         7.0

[5 rows x 42 columns]

In [ ]:
df_team.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [ ]:
df_team

        id  team_api_id  team_fifa_api_id      team_long_name team_short_name
0        1         9987             673.0            KRC Genk             GEN
1        2         9993             675.0        Beerschot AC             BAC
2        3        10000           15005.0    SV Zulte-Waregem             ZUL
3        4         9994            2007.0    Sporting Lokeren             LOK
4        5         9984            1750.0   KSV Cercle Brugge             CEB
..     ...          ...               ...                 ...             ...
294  49479        10190             898.0       FC St. Gallen             GAL
295  49837        10191            1715.0             FC Thun             THU
296  50201         9777             324.0         Servette FC             SER
297  50204         7730            1862.0  FC Lausanne-Sports             LAU
298  51606         7896               NaN              Lugano             LUG

[299 rows x 5 columns]

In [ ]:
df_team_att.head()

   id  team_fifa_api_id  ...  defenceTeamWidthClass defenceDefenderLineClass
0   1               434  ...                 Normal                    Cover
1   2               434  ...                 Normal                    Cover
2   3               434  ...                 Normal                    Cover
3   4                77  ...                   Wide                    Cover
4   5                77  ...                 Normal                    Cover

[5 rows x 25 columns]

### 문제 5. 데이터프레임간의 관계 파악하기

In [ ]:
# 데이터프레임 간 중복되는 Column이 있는지 확인하고 유용한 Column 식별하기
# Hint) unique()로 값을 비교하거나, map() 등을 활용하여 Column 관계를 확인

df_player_att['player_api_id'].value_counts() #value_counts() 를 이용한 유일한 값별 개수 세기

210278    56
41269     56
42116     55
26472     54
179795    53
          ..
163254     2
266280     2
37366      2
238766     2
26568      2
Name: player_api_id, Length: 11060, dtype: int64

In [ ]:
df_match['away_player_1'].dropna().apply(int).map(df_player_att.groupby('player_api_id').mean()['overall_rating']).isna().sum()

0

In [ ]:
df_team_att['team_api_id'].value_counts()

8191    6
8668    6
8661    6
8659    6
8658    6
       ..
8613    1
6631    1
6351    1
8614    1
9824    1
Name: team_api_id, Length: 288, dtype: int64

In [ ]:
df_match['home_team_api_id'].map(df_team_att.groupby('team_api_id').mean()['buildUpPlaySpeed']).isna().sum()

178

### 문제 6. 선수 특성 사이의 상관성 파악하기

In [ ]:
# DataFrame의 corr() 메소드와 Seaborn의 heatmap() 메소드를 이용하여 Pearson's correlation 시각화하기

### 문제 7. 매치 데이터프레임에 팀 특성 데이터프레임 통합하기

In [ ]:
# DataFrame의 map() 메소드를 활용하여 데이터프레임 통합하기

### 문제 8. 홈과 어웨이의 골 수를 승-무-패 범주로 변환하기

In [ ]:
# 홈과 어웨이의 골 수를 범주형 데이터로 변환하기 (0: 홈팀 승, 1: 무승부, 2: 어웨이팀 승)



df['matchResult'] =

## Step 3. 모델 학습을 위한 데이터 전처리

### 문제 9. get_dummies를 이용하여 범주형 데이터 전처리하기

### 문제 10. StandardScaler를 이용해 수치형 데이터 표준화하기

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
# StandardScaler를 이용해 수치형 데이터를 표준화하기
# Hint) Multicollinearity를 피하기 위해 불필요한 컬럼은 drop한다.

X_num = 
X_cat =
X = 
y = df_match['matchResult']

### 문제 11. 학습데이터와 테스트데이터 분리하기

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# train_test_split() 함수로 학습 데이터와 테스트 데이터 분리하기
X_train, X_test, y_train, y_test =

## Step 4. Classification 모델 학습하기

### 문제 12. Logistic Regression 모델 생성/학습하기

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# LogisticRegression 모델 생성/학습
model_lr =

### 문제 13. 모델 학습 결과 평가하기

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
# Predict를 수행하고 classification_report() 결과 출력하기
pred =

### 문제 14. XGBoost 모델 생성/학습하기

In [ ]:
from xgboost import XGBClassifier

In [ ]:
# XGBClassifier 모델 생성/학습
model_xgb =

### 문제 15. 모델 학습 결과 평가하기

In [ ]:
# Predict를 수행하고 classification_report() 결과 출력하기
pred =

## Step5 모델 학습 결과 심화 분석하기

### 문제 16. Logistic Regression 모델 계수로 상관성 파악하기

In [ ]:
# Logistic Regression 모델의 coef_ 속성을 plot하기

### 문제 17. XGBoost 모델로 특징의 중요도 확인하기

In [ ]:
# XGBoost 모델의 feature_importances_ 속성을 plot하기

## Step6 모델 성능 개선하기

### 문제 18. 매치 데이터프레임에 선수 특성 데이터프레임 통합하기

In [ ]:
# 선수 특성 중 유의미한 정보를 매치 데이터프레임에 통합하기

### 문제 19. 모델 재학습하여 평가하기